@import url("https://fonts.googleapis.com/css?family=Heebo:300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  transition: all 0.5s ease-in;
  background-color: #000;
  color: #fff;
  scroll-behavior: smooth;
}
header{
  position:absolute;
  top:30px;
  left:30px;
}
#main {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}
.toggle{
display: none;
}

.toggle:focus {
  outline: none;
}

.clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clock {
  position: relative;
  width: 35vw;
  height: 35vw;
  background-color: black;
  border-radius: 50%;
  box-shadow: 0 0 20vh rgba(119, 0, 0, 0.5), 0 0 100vw rgb(56, 0, 0),
    inset 0 0 2vw rgb(80, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.3s ease;
}
.clock:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20vw rgba(119, 0, 0, 0.6), 0 0 100vw rgb(69, 0, 0),
    inset 0 0 2vw rgb(80, 0, 0, 0.7);
}
.n {
  text-shadow: 0 0 5px white;
  font-size: 2vw;
  position: absolute;
  top: 0;
  color: #fff;
  transform-origin:center;
}

.twelve {
  top: 3%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.three {
  top: 50%;
  right: 5%;
}
.six {
  top: 88%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.nine {
  top: 50%;
  left: 5%;
}
.needle {
  background-color: white;
  box-shadow: 0 0 2vh rgba(255, 255, 255, 0.433);
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10vw;
  width: 0.2vh;
  transform-origin: bottom center;
  transition: all 1s ease;
}

.needle.hour {
  transform: translate(-50%, -100%) rotate(0deg);
  width: 0.4vh;
}

.needle.minute {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 12vw;
}

.needle.second {
  background-color: #e74c3c;
  transform: translate(-50%, -100%) rotate(0deg);
  height: 11vw;
}

.center-point {
  background-color: #e74c3c;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.time {
  text-shadow: 0 0 2vh rgba(255, 255, 255, 0.433);
  padding-top: 2vh;
  font-size: 60px;
}

.date {
  text-shadow: 0 0 2vh rgba(255, 255, 255, 0.433);
  color: #aaa;
  font-size: 14px;
  letter-spacing: 5.5px;
  text-transform: uppercase;
}
#about div{
  margin-top:30px;
  font-size: 20px;
  color: #aaa;
}

@media only screen and (max-width: 987px) {
  .needle{
    height:15vw;
  }
  .needle.hour {

    width: 0.4vh;
  }
  
  .needle.minute {

    height: 20vw;
  }
  
  .needle.second {

    height: 20vw;
  }
  .navbar-links {
    top: 1%;
    left:50%;
    transform:translate(-50%,50%);
  }
  .clock {
    position: relative;
    width: 60vw;
    height: 60vw;
    margin-top:15vw;
}
.n{
  font-size: 3vw;
}
}
@media only screen and (max-width: 412px){
   .clock{
    width:70vw;
    height:70vw;
    }
    .n{
  font-size: 4vw;
}
}
